* {
  box-sizing: border-box;
  background-color: #141414;
  color: white;
}
body {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

li {
  list-style: none;
  padding: 0 30px;
}

ul {
  display: flex;
  padding: 0 30px;
}

hr {
  border: 3px solid white;
}
